.App {
  text-align: center;
  max-width: 1300px;
  margin-left: 150px;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-size: 30px;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 120px;

}

ul{
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
  list-style-type: none;
}

i{
  color: Coral;
}

.container__content__title{
  margin-bottom: 90px;
}

h1{
  font-weight: bold;
  font-size: 90px;
  color: Coral;
}

.p1{
  display: flex;
  flex-direction: row;
}

img{
  width: 480px;
  height: 288px;
}

.p1{
  justify-content: flex-start;
  margin-bottom: 100px;
}

h5{
  margin-top: 90px;
}

.checkout{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: baseline;
  margin-left: 20px;
}

button{
  margin-left: 50px;
  height: 35px;
  border-radius: 0.3125rem;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: Coral;
  border: 4px solid transparent;
}

span{
  color: Coral;

}


/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/


